:root { 
--black_900_7f:#0000007f; 
--gray_600:#797e7f; 
--gray_501:#a5a5a5; 
--gray_301:#e2e2e2; 
--gray_500:#a7aaab; 
--red_900:#a60000; 
--gray_900:#1f2325; 
--light_green_A700:#31bf00; 
--bluegray_100:#d4d4d4; 
--red_200:#ff9c9c; 
--green_801:#29a100; 
--green_800:#2ba500; 
--green_A100:#cbffc7; 
--gray_300:#ece9de; 
--green_A101:#b9ffb2; 
--light_green_900:#238800; 
--bluegray_500:#6f7a86; 
--black_900:#000000; 
--bluegray_500_00:#6f7a8600; 
--red_A701:#fb0000; 
--white_A700:#ffffff; 
--red_A700:#ea0000; 
--deep_orange_100:#ffc7c7; 
}